// ============================================================
// conf/singularity.config - Singularity container configuration
// ============================================================

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = params.singularity_cache ?: "${HOME}/.singularity/cache"
}

params {
    singularity_cache = null
}

process {
    withName: 'PAIR_FASTQS|VALIDATE_ASSOCIATION|READ_RETENTION_SUMMARY|MAKE_MQC_CUSTOM|VERSION_LOG' {
        container = 'https://depot.galaxyproject.org/singularity/python:3.11'
    }
    withName: 'FASTQC.*' {
        container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
    }
    withName: 'MULTIQC.*' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.21--pyhdfd78af_0'
    }
    withName: 'CUTADAPT' {
        container = 'https://depot.galaxyproject.org/singularity/cutadapt:4.7--py39hf95cd2a_1'
    }
    withName: 'BOWTIE2_ALIGN' {
        container = 'https://depot.galaxyproject.org/singularity/bowtie2:2.5.3--py39h6fed5c7_0'
    }
    withName: 'SAMTOOLS.*|FILTER_MITO|FILTER_BLACKLIST|MERGE_BAMS' {
        container = 'https://depot.galaxyproject.org/singularity/samtools:1.19.2--h50ea8bc_1'
    }
    withName: 'PICARD_MARKDUPLICATES' {
        container = 'https://depot.galaxyproject.org/singularity/picard:3.1.1--hdfd78af_0'
    }
    withName: 'UMI_TOOLS_DEDUP' {
        container = 'https://depot.galaxyproject.org/singularity/umi_tools:1.1.5--py39hf95cd2a_0'
    }
    withName: 'BAMCOVERAGE.*|COMPUTE_MATRIX.*|PLOT_PROFILE|PLOT_HEATMAP' {
        container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName: 'MACS3_CALLPEAK.*' {
        container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.1--py39hf95cd2a_0'
    }
    withName: 'ANNOTATE_PEAKS' {
        container = 'https://depot.galaxyproject.org/singularity/bioconductor-chipseeker:1.38.0--r43hdfd78af_0'
    }
    withName: 'FRIP_SCORE' {
        container = 'https://depot.galaxyproject.org/singularity/bedtools:2.31.1--hf5e1c6e_1'
    }
}
